<div class="container">
    <div class="banner">
        <div class="title">{{ title }}</div>
    </div>
    <p class="description">
        Park County Animal Shelter (PCAS) is a registered Wyoming nonprofit with humble beginnings that stretch back to August of 1990. <br><br> Since 1996, we have been serving the greater Cody and Park County areas by providing a safe, no-kill shelter for all abandoned, stray, abused, neglected, and relinquished animals. In addition to our shelter services, we also offer low-cost microchips and vaccines, and spay/neuter assistance through our SNIP Voucher Program. <br><br>We are truly dedicated to the preservation of life and quality existence for all companion animals. Join us in our mission.
    </p>
    <div class="buttons-container">
        <div class="pets button"> See the pets </div>
        <div class="website button"> Go to website</div>
    </div>
</div>