.container{
    background-color: #212529;
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    padding: 16px;
    min-height: 82px;
}

.link{
    text-decoration: none;
    font-size: 28px;
    color: white;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    border-radius: 8px;
    padding: 10px;
    padding-top: 4px;
    line-height: 35px;
    background-color: #212529;
    transition: all 0.2s;
    border: 2px solid white;
}

.link:hover{
    color: #212529;
    border: 2px solid white;
    background-color: white;
}