<!-- Contains Pet Information and Image -->
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/dogpic.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pet Name</h5>
          <p class="card-text">Breed:____</p>
          <p class="card-text">Species:____</p>
          <p class="card-text">Age:____</p>
          <p class="card-text">About Me:____</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Shelter Info Card -->
  <div class="card w-75">
    <div class="card-body">
      <h5 class="card-title">Shelter Name</h5>
      <p class="card-text">Brief Description of Shelter</p>
      <a href="#" class="btn btn-primary">Go To Shelter Page</a>
    </div>
  </div>
  <!-- Appt Calendar GUI [Placeholder Table]-->
  <app-appointment></app-appointment>
 