<div class="container">
    <img class="image" src="{{ petData.imgsrc }}">
    <div class="overlay">
        <div class="text-container">
            <p class="name">{{ petData.name }}</p>
            <p class="age">{{ petData.age }} old</p>
            <div class="extra-info">
                <p class="breed">Breed: {{ petData.breed }}</p>
                <p class="worms">Worms: {{ petData.worms }}</p>
                <p class="shots">Shots: {{ petData.shots }}</p>
            </div>
        </div>
    </div>
</div>